# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo

# VS Code
.vscode/

# Visual Studio
.vs/
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
